.Sensor {

}

.badge {
  color: var(--main-color-1);
  font-weight: bold;
  font-style: italic;
}
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}