.Sensor td, th{

  font-family: sans-serif;
  border: thin solid #6495ed;
  width: 50%;
  padding: 5px;
  text-align: center;
  background-color: #ffffff;

}
.Sensor table
{
  border-collapse: collapse;
}

.Sensor label
{
  text-align: left;
  display: block;
  float: left;
  width: 150px;
}

.badge {
  color: var(--main-color-1);
  font-weight: bold;
  font-style: italic;
}
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}